@use "variables";

.auth{
  
&__logo{
    padding-top: 54px;
    width: 88px;
    margin: 0 auto;
}
&__heading{
    font-family: variables.$defualt_font;
    font-size: 38px;
    color: variables.$newsGrey;
    text-align: center;
    padding-top: 10px;
}
&__text{
    text-align: center;
    font-family: variables.$smallTextFont;
    font-weight: lighter;
    font-size: 16px;
    padding-top: 43px;
    padding-bottom: 50px;
}
&__continueWith{
    width: 364px;
    margin-top: 19px;
    display: grid;
    border-radius: 40px;
    text-align: center;
    place-content: center;
    display: block;
    border: 1px solid #C5C5C5;
    height: 62px;
    text-decoration: none;
    color: variables.$newsGrey;
    font-family: variables.$smallTextFont;
  
}
&__orBox{
    display: flex;
    margin-top: 70px;
    font-weight: 300;
    width: 100%;
    margin-bottom: 60px;
    align-items: center;
    gap: 0.5rem;
    font-family: variables.$smallTextFont;
}
&__orLine{
    
width: 40%;
height: 0px;
}
&__orText{
    
}
&__continueWith--password{
    background-color: variables.$buttonGreen;
    color: white;
    box-shadow: 1px 2px #4d861f85;
}
&__link{
    color: variables.$buttonGreen;
    text-decoration: none;
}
}